.comentario {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Koh Santepheap", sans-serif;
  color: #232323;
}

.comentario__title {
  max-width: 100%;
  margin: 0 0 52px;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.comentario__button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 60px;
  padding: 20px;
  font-size: 2rem;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.comentario__button:hover {
  transform: scale(1.1);
  color: #ff0000;
  background-color: #f2f2f2;
}

.comentario__button:active {
  color: #870202;
}

.comentarios-list {
  margin: 100px 0 30px;
  display: grid;
<<<<<<< HEAD
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 120px 30px;
=======
  gap: 30px;
>>>>>>> 44993e6e32272d6c82cf296c8021b778147c522e
}

.comentario-card {
  width: 100%;
  max-width: 300px;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  padding-bottom: 40px;
}

.comentario__images {
  position: relative;
  top: -80px;
  width: 148px;
  height: 148px;
  border-radius: 200px;
  transition: transform 0.2s ease-in-out;
  object-fit: cover;
}

.comentario__images:hover {
  transform: scale(1.1);
}

.comentario__name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0 0 10px;
  font-size: 2.5rem;
  line-height: 1.2;
  position: relative;
  top: -40px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.comentario__text {
  margin: 10px 0;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 70%;
  max-width: 300px;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.comentario__stars {
  margin: 0;
  font-size: 2rem;
  line-height: 1.2;
}

.comentario__ver-mais {
  padding: 10px 0;
  margin-bottom: 120px;
  width: 100%;
  max-width: 150px;
  background-color: #ff0000;
  color: #fff;
  font-size: 2rem;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

.comentario__ver-mais:hover {
  transform: scale(1.1);
  color: #ff0000;
  background-color: #f2f2f2;
}

.comentario__ver-mais:active {
  color: #870202;
}

<<<<<<< HEAD
@media screen and (max-width:1280px) {
  
=======
@media screen and (min-width: 1025px) {
>>>>>>> 44993e6e32272d6c82cf296c8021b778147c522e
  .comentarios-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .comentarios-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .comentarios-list {
    grid-template-columns: 1fr;
  }

  .comentario__title {
    font-size: 2.8rem;
  }

  .comentario__button {
    font-size: 1.8rem;
    padding: 15px;
  }

  .comentario-card {
    max-width: 100%;
  }

  .comentario__text {
    font-size: 1.6rem;
  }
}
