@import url(../vendor/normalize.css);
@import url(../blocks/navigation.css);
@import url(../blocks/header.css);
@import url(../blocks/hero.css);
@import url(../blocks/populares.css);
@import url(../blocks/comentarios.css);
@import url(../blocks/forms.css);


.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
