.hero {
  width: 70%;
  display: flex;
  margin: 120px 0;
  justify-content: space-between;
}

.hero__img {
  width: 100%;
  max-width: 592px;
  transition: ease-in-out 0.5s;
  margin-right: 30px;
}

.hero__img:hover {
  transform: scale(1.09);
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Koh Santepheap", sans-serif;
  font-weight: 400;
  color: #232323;
}

.hero__title {
  margin: 0 0 8px;
  width: 100%;
  max-width: 113px;
  color: #ff0000;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
}

.hero__subtitle {
  margin: 0 0 32px;
  width: 100%;
  max-width: 334px;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1.2;
}

.hero__text {
  margin: 0;
  width: 100%;
  max-width: 520px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
}

@media screen and (max-width:1280px) {

  .hero__img {
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin-right: 20px;
  }

}