.navigation {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 32px auto 89px;
  margin-top: 38px;
  font-family: "Poppins", sans-serif;
  align-items: center;
  color: #232323;
}

.navigation__image {
  width: 100%;
  max-width: 154px;
  max-height: 41px;
}

.navigation__menu {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 56px;
  margin: 0;
  display: flex;
  align-items: center;
  height: 30px;
}


.navigation__menu_item {
  display: flex;
  align-items: center;
}

.navigation__menu_item a {
  text-decoration: none;
  color: #232323;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
  height: 30px;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.2s;
}

.navigation__menu_item a:hover{
  color: #ff0000;
  transform: scale(1.1);
}

.navigation__btn {
  width: 100%;
  max-width: 207px;
  height: 54px;
  border-radius: 60px;
  padding: 0;
  background-color: #ff0000;
  text-decoration: none;
  color: #ffff;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
}

.navigation__btn:hover {
  transform: scale(1.1);
}